# Use this value to access the Block Putters pricing API, it's a read-only key provided by Apollo to access the Block Putters store
STRIPE_API_KEY="rk_test_51Pv0pVBCBMHxzdaQrm89cGqlNk8SPMvoCAfrHlWzOkLRqG7tTKGUq8FbzahxsizRT4oMEYhjsd4xoWtRUEZkG1iZ00V4XUvQ8Y"

# Change this variable to match your variant/contract
APOLLO_GRAPH_REF="Shopify-hbkyeeh@graphchat"

# Should be created with admin privileges if you want to publish PQs
APOLLO_KEY="service:Shopify-hbkyeeh:***"